<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Part 2</h1>
    <ul class="products">
    <% for(var i=0; i<products.length; i++) {%>
        <li class="product">
            <span><%= products[i].name %></span>
            <span><%= products[i].price %></span>
        </li>
    <% } %>
    </ul>

    <form action="/create" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="price" name="price">
        <button type="submit">Add to Table</button>
    </form>
</body>
</html>